<header id="login-page">
  <div class="header-content">
    <section id="last">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 id='question-link' class="margin-top-0 wow fadeIn">Login</h2>
            <hr class="primary">
          </div>
          <div class="col-lg-10 col-lg-offset-1 text-center">
            <%= form_for(:session, url: login_path, class: "form-horizontal") do |f| %>
              <!-- Text input-->
              <div class="form-group">
                <%= f.label :email, class: "col-md-4 control-label" %>
                <div class="col-md-6">
                <%= f.text_field :email, autofocus: true, class: "form-control input-md", id: "email", placeholder: "Enter Email" %>
                </div>
              </div>

              <!-- Password input-->
              <div class="form-group">
                <%= f.label :password, class: "col-md-4 control-label" %>
                <div class="col-md-6">
                  <%= f.password_field :password, autocomplete: "off", class: "form-control input-md", id: "pwd", placeholder: "Enter Password" %>
                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for=""></label>
                <div class="col-md-6">
                  <%= f.submit "Login", class: "btn btn-info pull-right" %>
                </div>
              </div>
            <% end %>
          </span>
          </div>
        </div>
      </div>
    </section>
  </div>
</header>