
<script>
$(function() {
	$('#question-link').on('click', function(event){
		event.preventDefault();
		$('#question-form').toggleClass('hidden');
	});
});
</script>

<button class='btn btn-primary btn-block btn-lg'>
	<a href='#'>Ask a Question</a>
</button>

<header id="student-page">
	<div class="header-content">
		<section id="last">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 id='question-link' class="margin-top-0 wow fadeIn">Ask a Question</h2>
            <hr class="primary">
            <p>Our experts are here to answer any of your coding related questions</p>
          </div>
					<span id='question-form' class='hidden'>
          <div class="col-lg-10 col-lg-offset-1 text-center">
          	<%= form_for(@question, url: questions_path, class: "contact-form row") do |f| %>
              <div class="col-md-4">
              	<%= f.text_field :title, data: {textfield: "message"}, class: "form-control", placeholder: "Title" %>
              </div>
              <div class="col-md-4">
              	<%= f.text_field :tag, data: {textfield: "message"}, class: "form-control", placeholder: "Tags" %>
              </div>

              <div class="col-md-4">
              	<%= f.collection_select(:skill_id, Skill.all, :id, :sub_type, {}, {class: "form-control"}) %>
              </div>

              <div class="col-md-12">
              	<label></label>
              	<%= f.text_area :content, data: {send: "message"}, class: "form-control", rows: "9", placeholder: "A short description here..." %>
              </div>
              <div class="col-md-4 col-md-offset-4">
              	<label></label>
              	<%= f.submit "Ask", class: "btn btn-primary btn-block btn-lg" %>
              </div>
            <% end %>
					</span>
          </div>
        </div>
      </div>
    </section>
	</div>
</header>
