<header id="register-page">
  <div class="header-content">
    <section id="last">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 id='question-link' class="margin-top-0 wow fadeIn">Register</h2>
            <hr class="primary">
          </div>
          <div class="col-lg-10 col-lg-offset-1 text-center">
            <%= form_for(@user, html: {class: "form-horizontal"}, url: new_user_path) do |f| %>
            
              <div class="form-group">
                <%= f.label :name, class: "col-md-4 control-label" %>
                <div class="col-md-6">
                <%= f.text_field :full_name, autofocus: true, class: "form-control input-md", id: "email", placeholder: "Enter Full Name", required: true %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :username, class: "col-md-4 control-label" %>
                <div class="col-md-6">
                <%= f.text_field :username, class: "form-control input-md", id: "email", placeholder: "Enter Username", required: true %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :email, class: "col-md-4 control-label" %>
                <div class="col-md-6">
                <%= f.email_field :email, class: "form-control input-md", id: "email", placeholder: "Enter Email", required: true %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :picture, class: "col-md-4 control-label" %>
                <div class="col-md-6">
                <%= f.text_field :avatar, autocomplete: "off", class: "form-control input-md", id: "email", value: "http://" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password, class: "col-md-4 control-label" %>
                <div class="col-md-6">
                  <%= f.password_field :password, autocomplete: "off", class: "form-control input-md", id: "pwd", placeholder: "Enter Password", required: true %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password_confirm, class: "col-md-4 control-label" %>
                <div class="col-md-6">
                  <%= f.password_field :password_confirm, autocomplete: "off", class: "form-control input-md", id: "pwd", placeholder: "Re-enter Password", required: true %>
                </div>
              </div>

                <% if @mentor %>
                  <%= f.hidden_field :is_mentor, :value => true %>
                <% end %>
              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for=""></label>
                <div class="col-md-6">
                  <%= f.submit "Register", class: "btn btn-info pull-right" %>
                </div>
              </div>
            <% end %>
            <% if @message %>
              <div class='alert alert-danger col-md-4 col-md-offset-5'>
                <span class="close" data-dismiss="alert">&times;</span>
                <p><%= @message %></p>
              </div>
            <% end %>
          </span>
          </div>
        </div>
      </div>
    </section>
  </div>
</header>
