<div class="container background-image">

  <div class="span">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="tagline">Real problems, Real solutions</div>
      <div class="sub-tag">We're creating stronger developers one problem at a time</div>
    </div>
    <div class="col-lg-1"></div>
  </div>

  <div class="span">

    <div class="col-lg-6 left-side">
      <% if @user %>
        <%= link_to student_path(@user.id), class: "login-link" do %>
        <div class="role-square">
          <div class="role-name">Student</div>
          <div class="role-hover">Login</div>
        </div>
      </div>
      <% end %>
    <% else %>
      <%= link_to sessions_new_path do %>
      <div class="student-square">
        <div class="student-name">Student</div>
        <div class="student-hover">
          <p>Login</p>
        </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="student-register">
      <%= link_to 'Student Registration', new_user_path %>
    </div>

    <div class="col-lg-6 right-side">
      <% if @user %>
        <%= link_to mentor_path(@user.id), class: "login-link" do %>
        <div class="role-square">
          <div class="role-name">Mentor</div>
          <div class="role-hover">Login</div>
        </div>
      </div>
      <% end %>
    <% else %>
      <%= link_to sessions_new_path do %>
      <div class="mentor-square">
        <div class="mentor-name">Mentor</div>
          <div class="mentor-hover">
            <p>Login</p> 
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="mentor-register">
      <%= link_to 'Mentor Registration', new_user_path %>
    </div>

  </div>

</div>