<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="main-tagline">Real problems, Real solutions</h1>
      <hr>
      <p id="main-subtag">We're creating stronger developers one problem at a time</p>
      <% if @user %>
        <%= link_to "Students", student_path, class: "btn btn-primary btn-xl page-scroll", id: "main-button" %>
        <%= link_to "Mentors", mentor_path, class: "btn btn-primary btn-xl page-scroll", id: "mentor-button" %>
      <% else %>
        <%= link_to "Students", login_path, class: "btn btn-primary btn-xl page-scroll", id: "main-button" %>
        <%= link_to "Mentors", mentor_path, class: "btn btn-primary btn-xl page-scroll", id: "mentor-button" %>
      <% end %>
    </div>
    <div class="header-content-inner">
      <%= link_to 'Register', students_new_path, class: "btn btn-primary btn-xl page-scroll", id: "register-button" %>
      <%= link_to 'Register', mentors_new_path, class: "btn btn-primary btn-xl page-scroll", id: "register-button" %>
    </div>
  </div>
</header>
