<%= javascript_include_tag "channels/queue" %>
<%= javascript_include_tag "channels/zquestions" %>

<%= render partial: "shared/mentor_portrait", locals: {user: @user} %>
<%= render partial: "shared/star_rating", locals: {user: @user} %>


Hi, <%= @user.username %>. You're probably the best mentor around.

<div class="notifications"></div>
