<!DOCTYPE html>
<html>
  <head>
    <title>Rubberduck</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<!-- Compressed JavaScript -->
		<script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>
  </head>

  <body>
  	<!-- Small Navigation -->
		<div class="title-bar new-title-bar" data-responsive-toggle="nav-menu" data-hide-for="medium">
		  <a class="logo-small show-for-small-only" href="#"><img src="/assets/logo.png" /></a>
		  <button class="menu-icon" type="button" data-toggle></button>
		  <div class="title-bar-title">Menu</div>
		</div>

		<!-- Medium-Up Navigation -->
		<nav class="top-bar new-top-bar" id="nav-menu">
		  <div class="logo-wrapper hide-for-small-only">
		    <div class="logo">
		      <img src="/assets/logo.png">
		    </div>
		  </div>

		  <!-- Left Nav Section -->
		  <div class="top-bar-left">
		    <ul class="vertical medium-horizontal menu">
		      <li><a href="#" class="new-button">Rubberduck</a></li>
		    </ul>
		  </div>

		  <!-- Right Nav Section -->
		  <div class="top-bar-right">
		    <ul class="vertical medium-horizontal menu">
		     	<li><%= link_to 'Student Logout!!!!!', destroy_student_session_path, class: 'btn btn-primary btn-lg new-button' %></li>
		     	<li><%= link_to 'Mentor Logout!!!!!!', destroy_mentor_session_path, class: 'btn btn-primary btn-lg new-button' %></li>	
		    </ul>
		  </div>

		</nav>

    <%= yield %>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
